
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    background-color: beige;
    margin: 0;
    padding: 0;
}


h2,h3,label{
    color: #1F3D7A;
    text-align: left;
    font-weight: bold;
}



#site-header{
    background-color: hsl(0, 0% , 100%);
    background-image: url(https://media.istockphoto.com/id/1530746390/it/foto/smartphone-moderno-con-schermo-vuoto-su-sfondo-digitale-con-codice-di-programma-rendering-3d.jpg?s=2048x2048&w=is&k=20&c=Y8ru3UfIEnwUFzSgxsOG4ltOGUJeSvmkP6PmVngIFAk=);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    height: 100%;
    border-bottom: 2px solid yellow;

}

#site-header h1{
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    color: #F44A4A;
    margin-top: 0;
   padding-top: 80px;
}


nav a{
    font-weight: bold;
    color: yellow
}
nav a:hover{
    color: hsl(67, 98%, 26%);
}

nav ul{
   
    display: inline-block;
    margin-bottom: 80px;
    
}

nav ul li{
    list-style-type: none;
    display: inline;
}

nav ul li:not(last-child){
    margin-right: 15px;
}

.tagline{
    font-style: italic;
    color: #F44A4A;
}

.grassetto{
    font-weight: bold;
}

#chi-sono{
    text-align: justify;
}
#chi-sono p:first-of-type{
    font-size: 1.2em;
}

.skill-list li:nth-child(odd){
    background-color: whitesmoke;
    /* width: fit-content; */
    margin-right: 40px;

}
.skill-list li:nth-child(even){
    background-color: aqua;
    /* width: fit-content; */
    margin-right: 40px;
}

main a:hover{
    color: red;

}

input,textarea,select:focus{
    /* background-color: #232323; */
    /* color: white; */
    font-family: Arial, Helvetica, sans-serif;

}

button{
    background-color: hsl(220, 60%, 30%);
    color: white;
    font-weight: bold;
    width: 10%;
    
}
button:hover{
    color: hsl(220, 60%, 45%);
}
 footer{
    background-color: #172136;
    text-align: center;
    color: white;
    

 }

 .image img{
    display: inline;
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
    border: 2px solid yellow;
}

.contenitore{
    background-color: white;
    border-radius: 10px;
    padding: 2px 10px;
    box-shadow: 2px 2px 5px gray;
    margin: 20px;
}

#chi-sono .contenitore p:first-of-type::first-letter{
    font-size: 40px;
    font-weight: bolder;
    

}
#chi-sono .contenitore p:first-of-type{
    color: #1F3D7A;

}

.new {
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 3px;
    font-size: 10px;
    margin-left: 5px;
}

th,tr,td{
    border: 2px solid black;
    
}
table{
    margin: 0 auto;
    border-collapse:collapse ;
    margin-bottom: 10px;
}

th{
    color: #032774;
}

footer p{
    margin-bottom: 0;
}